[submodule "Clients/openid-refreshtoken-sample"]
	path = Clients/openid-refreshtoken-sample
	url = https://github.com/danielwagn3r/openid-refreshtoken-sample.git
[submodule "Clients/oauth2-passwordgrant-sample"]
	path = Clients/oauth2-passwordgrant-sample
	url = https://github.com/danielwagn3r/oauth2-passwordgrant-sample.git
[submodule "Apis/openid-calculator-api-node"]
	path = Apis/openid-calculator-api-node
	url = https://github.com/danielwagn3r/openid-calculator-api-node.git
[submodule "Apis/openid-calculator-api-dotnet"]
	path = Apis/openid-calculator-api-dotnet
	url = https://github.com/danielwagn3r/openid-calculator-api-dotnet.git
[submodule "Requests/helpers/auth-code-pkce"]
	path = Requests/helpers/auth-code-pkce
	url = https://github.com/danielwagn3r/auth-code-pkce.git
[submodule "Requests/helpers/dummy-webserver-node"]
	path = Requests/helpers/dummy-webserver-node
	url = https://github.com/danielwagn3r/dummy-webserver-node.git
